.sidebarContainer {
	width: 40%;
}

.sidebarContainer h2 {
	margin-bottom: 2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.topicContainer {
	display: flex;
}

.topicContainer h5 {
	font-size: x-large;
	margin: 1rem 0;
	font-weight: 400;
	letter-spacing: 1px;
}
